@import 'color';

$navbar-default-bg: $color4;
$navbar-default-link-color: $color1;
$navbar-default-link-hover-color: $color2;
$navbar-default-brand-hover-color: $color2;

.mynavbar{
	margin-left:70px;
	margin-right:45px;
	border-radius:100%;
}
