
	<div class="singleboats container">
		<div class="row boatstuff">
			<div class="col-md-2">
				<%= image_tag boat.avatar.url (:thumb) %>
				
			</div>
			<div class="col-md-2">
				<p><strong>Name:</strong><h3><%= link_to boat.name, boat %></h3></p>
				
			</div>
			<div class="col-md-4">
				<strong>Location:</strong> 
				<p>
					<%= boat.location %>
				</p>
			</div>
			<div class="col-md-4">
				<strong>Number of Containers:</strong> 
				<p>
					<%= boat.container_num %>
				</p>
			</div>
		</div>
	</div>
